<launch>
  <arg name="enable_bag_record" default="false"/>
  <arg name="bag_name" default="indoor"/>
  <arg name="simulation" default="false"/>
  <arg name="planner_param_file" default="$(find dsvp_launch)/config/exploration_matterport.yaml" />
  <arg name="octomap_param_file" default="$(find dsvp_launch)/config/octomap_matterport.yaml" />

  <rosparam command="load" file="$(arg planner_param_file)" />
  <rosparam command="load" file="$(arg octomap_param_file)" />

  <node name="dsvplanner" pkg="dsvplanner" type="dsvplanner" output="screen" />

  <node name="exploration" pkg="dsvp_launch" type="exploration_with_graph_planner" output="screen" >
    <param name="simulation" type="bool" value="$(arg simulation)" />
  </node>

  <include file="$(find graph_planner)/launch/graph_planner_matterport.launch"/>

  <group if="$(arg enable_bag_record)">
    <include file="$(find dsvp_launch)/launch/rosbag_record.launch">
        <arg name="bag_name" value="$(arg bag_name)" />
    </include>
  </group>

  <node pkg="rviz" type="rviz" name="dsvp_rviz" args="-d $(find dsvp_launch)/default.rviz"/>
</launch>
