<launch>
  <arg name="enable_bag_record" default="true"/>
  <arg name="bag_name" default="campus"/>
  <arg name="simulation" default="false"/>
  <arg name="planner_param_file" default="$(find drrt_planner_interface)/config/exploration_campus.yaml" />
  <arg name="octomap_param_file" default="$(find drrt_planner_interface)/config/octomap_campus.yaml" />

  <rosparam command="load" file="$(arg planner_param_file)" />
  <rosparam command="load" file="$(arg octomap_param_file)" />

  <node name="drrt_planner" pkg="drrt_planner" type="drrt_planner" output="screen" />

  <node name="exploration" pkg="drrt_planner_interface" type="exploration_with_graph_planner" output="screen" >
    <param name="simulation" type="bool" value="$(arg simulation)" />
  </node>

  <include file="$(find graph_planner)/launch/graph_planner.launch"/>

  <group if="$(arg enable_bag_record)">
    <include file="$(find drrt_planner_interface)/launch/rosbag_record.launch">
        <arg name="bag_name" value="$(arg bag_name)" />
    </include>
  </group>

  <node pkg="rviz" type="rviz" name="zhbp_rviz" args="-d $(find drrt_planner_interface)/default.rviz"/>
</launch>
